* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/fabio-oyXis2kALVg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 18px;
  color: white;
}

#my-photo {
  width: 200px;
  border-radius: 15%;
  position: relative;
}

header {
  width: 100%;
  max-height: 100px;
  background-color: cornflowerblue;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#nav-links a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 5px;
}
