* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/fabio-oyXis2kALVg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 18px;
  color: white;
}

#my-photo {
  width: 200px;
  border-radius: 15%;
  position: relative;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgb(52, 207, 21);
}

#nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#nav-links a {
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  padding: 5px;
}

#nav-links a:hover {
  color: black;
}

#nav-links a::after {
  content: "";
  display: block;
  width: 0%;
  height: 5px;
  background-color: #333;

  position: relative;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 500ms;
}

#nav-links a:hover::after {
  width: 100%;
}
