* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/fabio-oyXis2kALVg-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  font-size: 18px;
  color: white;
}

#my-photo {
  width: 200px;
  border-radius: 15%;
  float: right;
  margin-top: 10px;
}

header {
  width: 100%;
  height: 100px;
  background-image: url(images/fabio-oyXis2kALVg-unsplash.jpg);
  background-size: cover;
}

#nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

#nav-links a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  margin-left: 70px;
}

#nav-links a:hover {
  color: rgb(0, 128, 64);
}

#nav-links a::after {
  content: "";
  display: block;
  width: 0%;
  height: 5px;
  background-color: #ffffff;

  position: relative;
  top: 0;
  bottom: 0;
  transition: all ease-in-out 500ms;
}

#nav-links a:hover::after {
  width: 100%;
}

#logo {
  color: rgb(0, 128, 64);
  margin-right: 10px;
}

#about {
  width: 100%;
  height: 300px;
  border: 1px solid white;
}
